

.features {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    height: 110vh;
    width: 100%;
    position: relative;

}

.features:before {
    content: '';
    background: url(https://th.bing.com/th/id/R.67ed94d78d754fac8e9558edadf2c62d?rik=f2ozhR%2fIwWcXkA&pid=ImgRaw&r=0) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heading{
    text-align: center;
    font-size: 3.2rem;
    text-transform: capitalize;
    color: white;
    padding: 1rem;
    padding-top: 50px;
    text-shadow: 0 0 0.7rem black;
}

.features p{
    text-align: center;
    color: white;
    font-size: 1.4rem;

}

.features .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

.features .box-container .box:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
}

/*CAIXAS*/

.features .box-container .box{
    flex: 1 1 0rem;
    background: black;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    margin: 1.7rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: all .35s ease;
}

.features .box-container .box img{
    height: 15rem;
}

.features .box-container .box h3{
        font-size: 2rem;
        color: white;
        padding-top: 1rem;
}

.features .box-container .box a{
    font-size: 1.3rem;
    color: white;
    padding: 1rem;
    background-color: #5065d5;
    text-decoration: none;
    border-radius: 50px;
}

.features .box-container .box a:hover{
    box-shadow:
    0 0 7px #fff,
    0 0 42px #0fa,
    0 0 151px #0fa;;
}